[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cropgrowdays"]
	path = cropgrowdays
	url = https://gitlab.com/petebaker/cropgrowdays
[submodule "polySegratio"]
	path = polySegratio
	url = https://github.com/petebaker/polysegratio
[submodule "polySegratioMM"]
	path = polySegratioMM
	url = https://github.com/petebaker/polysegratiomm
